[submodule "django_bootstrap3"]
	path = django_bootstrap3
	url = git@github.com:dyve/django-bootstrap3.git
[submodule "django-bootstrap3"]
	path = django-bootstrap3
	url = git@github.com:dyve/django-bootstrap3.git
